body {
}
.GridView {
    AllowPaging: True;
    PageSize: 10;
    Width: 1509px;
    style_margin-right: 27px;
    BackColor: White;
    BorderColor: #999999;
    BorderStyle: Solid;
    BorderWidth: 1px;
    CellPadding: 3;
    ForeColor: Black;
    GridLines: Vertical;
    ViewStateMode: Enabled;
}
